<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

<!-- Configuer dependent class Object -->
<bean id ="mrh" class = "com.sp.beans.MyRequestHandler" scope="prototype"/>

<!-- Dependent class object -->
<bean id = "msc" class = "com.sp.beans.MyServletContainer" scope="singleton">
	<property name="handler" ref = "mrh"/>
</bean>
</beans>

