<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id = "stBo" class= "com.nt.bo.StudentBO" scope="prototype"/>
<bean id = "custBo" class = "com.nt.bo.CustomerBO" scope="prototype"/>
<bean id = "dao" class = "com.nt.dao.CustStudDAO" scope="singleton"/>


<bean id = "service" class = "com.nt.service.CustStudService" scope="singleton"> 
	
	<property name="csDao" ref = "dao"/>
	<lookup-method name="getCustomerBO" bean="custBo"/>
	<lookup-method name = "getStudentBO" bean = "stBo"/>
 </bean>

<bean id = "bpp" class= "com.nt.bpp.BOPostProcessor"/>

</beans>
