<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<!-- Helper class configuration -->
	<bean id = "engg" class ="com.sp.beans.Engine"/>

	<!-- Target class configuration -->
	<bean id = "vec" class = "com.sp.beans.Viechle">
		<property name="beanId" ref="engg"/>
	</bean>
	
</beans>
